{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}
<style>
  
.student-signup-form{
  margin-top: 2px;
  background: #f4b547;
  padding: 20px;
  padding-top: 3%;
  position: absolute;
  text-align: center;
  color: black;
}

.student-signup-form h1,h3{
  margin: 10px;
  padding: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  opacity: 1;
}

.student-signup-form label{
  margin: 5px;
  margin-right: 10px;
  padding:0;
  font-size: 20px;
  font-weight: bold;
  opacity: 1;
}

.student-signup-form input[type="text"]{
  color: black;
}


.student-signup-form input[type="submit"]{
  border: 1px solid #00316b;
  outline: none;
  height: 40px;
  background: #00316b;
  color: white;
  font-size: 18px;
  margin: 15px;
}

.student-signup-form input[type="submit"]:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.5;
}

.student-signup-form a{
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: black;
  opacity: 1;
}

.student-signup-form a:hover{
  color: #00316b;
  transform: scale(1.2);
  transition: 0.5s;
}


</style>
<div class="login-page">
    <img src="{% static 'images/login-background.PNG' %}" alt="">
    <div class="student-signup-form">
      {% if registered %}
      <h1>Thank you for registering.</h1>
      {% else %}
      <h1>Sign up as a Student.</h1>
      <h3>Fill out the form:</h3>

      <form method="post">
        {% csrf_token %}

        {{ student_profile_form.non_field_errors }}

        <p> <label>{{ student_profile_form.name.label_tag }}</label>{{ student_profile_form.name }}</p>
        <p> <label >{{ student_profile_form.roll_no.label_tag }}</label>  {{ student_profile_form.roll_no }}</p>
        <p> <label for="">{{ student_profile_form.phone.label_tag }}</label> {{ student_profile_form.phone }}</p>
        <p> <label for="">{{ student_profile_form.email.label_tag }}</label>{{ student_profile_form.email }}</p>

        {{ user_form.non_field_errors }}

        <p> <label for="">{{ user_form.username.label_tag }}</label>{{ user_form.username }}</p>
        <p> {{ user_form.username.help_text }}</p>
        <p> <label for="">{{ user_form.password1.label_tag }}</label>{{ user_form.password1 }}</p>
        <p>Password can't be similar to your other fields and must contain atleast 8 characters.</p>
        <p> <label for="">{{ user_form.password2.label_tag }}</label>{{ user_form.password2 }}</p>
        <p> {{ user_form.password2.help_text }} </p>
        <input type="submit" name="" value="Sign Up">
      </form>
      <a href="{% url 'classroom:login' %}">Already have an account.</a>
      {% endif %}
    </div>
</div>

{% endblock %}
